<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<%-include("nav") %>

    <div class="container">
        <div class="box1">
          
    

            <div class="box1part1">
                <div class="b1p1l">
                <h1 >Stay curious</h1>
                <p>Discover stories, thinking, and expertise <br> from writers on any topic.
                </p>
                <button>Start reading</button>
            </div>
            <div class="b1p1r">
                <h1 class="tlt">    M  MM  M  M MM </h1>
                <h1 class="tlt">M     M    M  MM  M</h1>
                <h1 class="tlt">M   M     MM   M  M</h1>
                <h1 class="tlt">  MM   M     M   M</h1>
                <h1 class="tlt">      M   M  M  M M</h1>
                <h1 class="tlt">M   M M M     M  MM</h1>
                <h1 class="tlt">  M     M  M  M   M</h1>
                <h1 class="tlt">M M   M  M   M  M </h1>
                <h1 class="tlt"> M  M M  M M  MM  M</h1>
                <h1 class="tlt">M   M   M  MM  M</h1>
                <h1 class="tlt">  M   MM  M M  MM</h1>
                <h1 class="tlt">    M M M M  M  </h1>
                <h1 class="tlt">M  M M M  M M  MM</h1>
                <h1 class="tlt"> M   MM  M  M  MM</h1>
                <h1 class="tlt">   M M M M M  MM </h1>
                <h1 class="tlt">   M M M  M M  MM</h1>
               
            </div>
        </div>
            <div class="box1part2">
                <div class="bit">
                    <i class="ri-funds-line"></i>
                    <h6>TRENDING ON MEDIUM </h6>
                </div>
                <div class="p2top">
                    <div class="p21">
                     <h1>01</h1>
                        <div>
                            <div class="p21t">
                                <i class="ri-alipay-fill"></i>
                                <h6>Ted Bauer</h6>
                            </div>

                            <h2>University of Idaho Murders: Now It Looks Like John “Jack” Showalter, Right? </h2>
                            <h5>Dec 6 · 1 min read ✨</h5>
                        </div>
                    </div>
                    <div class="p22">
                       <h1>02</h1>
                        <div>
                        <div class="p22t">
                            <i class="ri-alipay-fill"></i>
                            <h6>Tom Whitwell in Magnetic Notes</h6>
                        </div>
                      
                            <h2>52 things I learned in 2022 </h2>
                            <h5>Dec 6 · 1 min read </h5>
                        </div>
                    </div>
                    <div class="p23">
                  <h1>03</h1>
                        <div>
                        <div class="p23t">
                            <i class="ri-alipay-fill"></i>
                            <h6>Tom Cooper</h6>
                        </div>
                      
                            <h2>Ukraine War, 14 December 2022 </h2>
                            <h5>Dec 14 · 7 min read </h5>
                        </div>
                    </div>
                </div>
                <div class="p2bottom">
                    <div class="p24">
                        <h1>04</h1>
                        <div>
                        <div class="p24b">
                            <i class="ri-alipay-fill"></i>

                            <h6>Arthur Hayes in Entrepreneur's Handbook</h6>
                        </div>
                        
                            <h2>PEMDAS</h2>
                            <h5>Dec 9 · 15 min read </h5>
                        </div>
                    </div>
                    <div class="p25">
                       <h1>05</h1>
                        <div>
                        <div class="p25b">
                            <i class="ri-alipay-fill"></i>
                            <h6>Cassie Kozyrkov</h6>
                        </div>
                        
                            <h2>Introducing ChatGPT! </h2>
                            <h5>Dec 8 · 6 min read ✨ </h5>
                        </div>
                    </div>
                    <div class="p26">
                   <h1>06</h1>
                        <div>
                        <div class="p26b">
                            <i class="ri-alipay-fill"></i>
                            <h6>Diana Malewicz in UX Collective</h6>
                        </div>
                       
                            <h2>2023 visual design trends guide
                            </h2>
                            <h5>Dec 12 · 7 min read ✨ </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="box2">
  <div class="b2left">
    <div class="d-one">
        <h5>Jacob Bennett in Level Up Coding <span> ·Nov 30 ✨ Member-only</span></h5>
        <h1>Use Git like a senior engineer</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque, officia illum sit dolore optio repellendus! Ab, similique consequuntur autem dolor numquam magni, voluptates iste sapiente odio molestias velit deleniti.</p>
        <h6>Dec 14 · 7 min read </h6>
    </div>
      <div class="d-two">
        <h5>Clive Thompson in Better Programming  <span> ·Nov 30 ✨ Member-only</span></h5>
        <h1>Tiny Snippets of Code That Changed The World</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque, officia illum sit dolore optio repellendus! Ab, similique consequuntur autem dolor numquam magni, voluptates iste sapiente odio molestias velit deleniti.</p>
        <h6>Dec 14 · 7 min read </h6>
    </div>
    <div class="d-three">
        <h5>Jacob Bennett in Level Up Coding <span> ·Nov 30 ✨ Member-only</span></h5>
        <h1>Use Git like a senior engineer</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque, officia illum sit dolore optio repellendus! Ab, similique consequuntur autem dolor numquam magni, voluptates iste sapiente odio molestias velit deleniti.</p>
        <h6>Dec 14 · 7 min read </h6>
    </div>
    <div class="d-four">
        <h5>Clive Thompson in Better Programming <span> ·Nov 30 ✨ Member-only</span></h5>
        <h1>Tiny Snippets of Code That Changed The World</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque, officia illum sit dolore optio repellendus! Ab, similique consequuntur autem dolor numquam magni, voluptates iste sapiente odio molestias velit deleniti.</p>
        <h6>Dec 14 · 7 min read </h6>
    </div>
  </div>
  <div class="b2right">
    <div class="b2rtop">
      <h5>DISCOVER MORE OF WHAT MATTERS TO YOU      </h5>
      <button>Programming</button>
      <button>Data Science</button>
      <button>Technology</button>
      <button>Self Improvement</button>
      <button>Writing </button>
      <button>Relationships</button>
      <button>Machine Learning</button>
      <button>Productivity</button>
      <button>Politics</button>
    </div>
    <div class="b2rbottom">
      <h5>Help</h5>
      <h5>Status</h5>
      <h5>Writers</h5>
      <h5>Blog</h5>
      <h5>Carreiers</h5>
      <h5>Privacy</h5>
      <br>
      <h5>Terms</h5>
      <h5>About</h5>
      <h5>Text to speech</h5>
    </div>
  </div>
</div>


























    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
        integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"
        integrity="sha512-0bHMhYsdpiur1bT84kDH4D7cpxFQ9O7uA5yxVAqWC87h552Xt0swX4M+ZlXMKE8oPVRIJ5lAwXWO2UWeDwJJOw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>
