<nav>
    <div class="b1left">
        <img src="1_m-R_BkNf1Qjr1YbyOIJY2w.png" alt="">
        <a href="/" style=" text-decoration: none; font: 700 1.5vmax 'gilroy'; color: black;" > <h1>Medium</h1></a>
    </div>
    <div class="b1right">
       <a href="/ourstory" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Our story</h3></a>
       <a href="/Membership" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Membership</h3></a>
       <a href="/Write" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Write</h3></a>
       <a href="/Signin" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Signin</h3></a>
       <a href="/Get-started" style=" text-decoration: none;
          padding: 10px 15px;
    color: white;
    background-color: black;
    border-radius: 25px;
    cursor: pointer; font: 100 .8vmax 'gilroy';" > <h3>Get Started</h3></a>
      
       
    </div>
</nav>