<%-include("header") %>
<nav style="background-color: rgb(242,77,46);border-bottom: .1px solid white; ">
    <div class="b1left" >
        <img src="1_m-R_BkNf1Qjr1YbyOIJY2w.png" alt="">
        <a href="/" style=" text-decoration: none; font: 700 1.5vmax 'gilroy'; color: black;" > <h1>Medium</h1></a>
    </div>
    <div class="b1right">
       <a href="/ourstory" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Our story</h3></a>
       <a href="/Membership" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Membership</h3></a>
       <a href="/Write" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Write</h3></a>
       <a href="/Signin" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Signin</h3></a>
       <a href="/Get Started" style=" text-decoration: none; font: 100 .8vmax 'gilroy'; color: black;" > <h3>Get Started</h3></a>
      
       
    </div>
</nav>
<%-include("footer") %>